.main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 2rem;
    width: 50%;
    height: 60%;
    border: 2px solid #000;
    margin: 0 auto;

}

.main2 h2 {
    font-size: 1.9rem;
}

.options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.options button {
    text-decoration: none;
    background-color: #000;
    color: white;
    padding: 2rem;
    border-radius: 1rem;

    width: 13rem;
    font-size: 1.2rem;
    font-weight: 900;
    margin: 20px;

    transition: 500ms;
}

.options button:hover {
    background-color: rgba(0, 0, 0, 0.7);

    transform: translateY(-6px);

    border: 2px solid white;
}

@media (width <= 454px) {
    .main h2 {
        font-size: 1.2rem;
    }
}

@media (width <= 759px) {
    .main {
        width: 100%;
        height: 75%;
        justify-content: space-around;
    }

    .options button {
        padding: 1.1rem;
    }
}

@media (width <= 805px) {
    .main {
        width: 90%;
    }

    .options button {
        width: 12rem;
        font-size: 1rem;
    }
}

@media (width <= 1127px) {
    .main {
        width: 70%;
    }

    /* .options button {
        width: 10rem;
        font-size: 1rem;
    } */
}